/*config. para pontuação*/

@charset "UTF-8";


/*fontes*/


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


/*config. geral*/


:root {
    --font-comum:Verdana, Geneva, Tahoma, sans-serif;
    --font-titulo:"Passion One", sans-serif;
    --font-texto:"Sriracha", cursive;
}


* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}


html, body {
    min-width: 96vw;
    background-color: white;
    font-family: var(--font-comum);
}


/*header*/


header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
}


header > h1 {
    font-family: var(--font-titulo);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    font-size: 1.3em;
}


/*link "(a)" + link header*/


a {
    text-decoration: none;
    color: white;
}


header a:hover{
    color: red;
    text-decoration: underline;
}


header a:active {
    color: darkred;
}


/*footer + link footer*/

footer {
    padding: 15px;
    background-color: black;
    color: red;
    text-align: center;
}


footer a:hover{
    color: purple;
    text-decoration: underline;
}


footer a:active {
    color: rgb(46, 3, 68);
}


/*section*/


section {
    padding-top: 10vw;
    padding-left: 30px;
    font-family: var(--font-texto);
}


section > p {
    padding-bottom: 10vh;
    font-size: 4vw;
    line-height: 2em;
}


section.normal{

}


/*section class para imagem*/


section.imagem {
    background-color: blueviolet;
    color: white;
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 100px;
 }


 section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.473);
    padding-top: 100px;
    padding: 5px;
 }


/*imagens*/


 #img01{
    background-image: url(../d012-refazendo-02/imagens/background001.jpg);
 }


 #img02{
    background-image: url(../d012-refazendo-02/imagens/background002.jpg);
 }